<%- include("partials/header"); -%>
<div class="container mt-5 umc">
  <form class="form-signin" method="post" action="/compose">
    <h1 class="h3 mb-3 font-weight-normal">Compose</h1>
    <label for="inputTitle">Title</label>
    <input
      type="text"
      class="form-control"
      placeholder="Title"
      required="true"
      autofocus="true"
      name="title"
    />
    <p type="hidden"></p>
    <label for="inputPassword">Content</label>
    <textarea
      type="text"
      class="form-control content"
      placeholder="Content"
      required="true"
      name="content"
      rows="15"
    >
    </textarea>
    <p type="hidden"></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Submit
    </button>
  </form>
</div>

<%- include("partials/footer"); -%>
