<%- include('partials/header') %>
<div class="container mt-5 um">
  <h1>Register</h1>
  <form class="form-signin" method="post" action="/register">
    <label for="inputEmail">Email address</label>
    <input
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      required="true"
      autofocus="true"
      autocomplete="on"
      name="username"
    />
    <% if(error !== null) { %>
    <div class="alert alert-danger" role="alert"><%= error.message %></div>
    <% } %>
    <p type="hidden"></p>
    <label for="inputPassword">Password</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      required="true"
      name="password"
    />
    <p type="hidden"></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Register
    </button>
  </form>
</div>

<%- include('partials/footer') %>
